@page "/admin/promocion"

@using BusinessLogic
@using Domain
@using ControllerLayer

@inject Controller Controller
@inject NavigationManager NavigationManager
<h1>
    Lista Promociones
    <a href="/admin/promocion/crear" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Promocion</a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id Promocion</th>
            <th>Etiqueta</th>
            <th>Porcentaje</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var promocion in promocionesRegistradas)
        {
            <tr>
                <td>@promocion.PromocionId </td>
                <td>@promocion.Etiqueta</td>
                <td>@promocion.PorcentajeDescuento</td>
                <td>@promocion.FechaInicio.ToString("dd/MM/yyyy")</td>
                <td>@promocion.FechaFin.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-success btn-sm" href="admin/promocion/@promocion.PromocionId/editar">Editar</a>
                    <button class="btn btn-danger btn-sm" @onclick="(() => BorrarPromocion(promocion))">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!datosCorrectos)
{
    <p class="text-danger">@mensajeError</p>
}

@code {
    private bool datosCorrectos = true;
    private string mensajeError;

    private List<DTOPromocion> promocionesRegistradas;

    protected override void OnInitialized()
    {
        promocionesRegistradas = Controller.listarTodasLasPromociones().ToList();
    }

    private void BorrarPromocion(DTOPromocion promocion)
    {
        try
        {
            Controller.ElminarPromocion(promocion);
            promocionesRegistradas = Controller.listarTodasLasPromociones().ToList();
        }
        catch(Exception e)
        {
            datosCorrectos = false;
            mensajeError = e.Message;
        }
    }
}
