@page "/admin/deposito"
<PageTitle>Lista Depositos</PageTitle>

@using ControllerLayer


@inject Controller Controller
@inject NavigationManager NavigationManager
@inject DTOSesion DtoSesion


<h1>
    Lista Depositos
    <a href="/admin/deposito/crear" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Deposito</a>
</h1>


<table class="table">
    <thead>
    <tr>
        <th>Id Deposito</th>
        <th>Area</th>
        <th>Tamaño</th>
        <th>Climatizacion</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var deposito in depositosRegistrados)
        {
            <tr>
                <td>@deposito.Id</td>
                <td>@deposito.Area</td>
                @if (deposito.Tamanio.Equals("Pequenio"))
                {
                    <td>Pequeño</td>
                }
                else
                {
                    <td>@deposito.Tamanio</td>

                }
                <td>@deposito.Climatizacion</td>
                <td>
                    <button class="btn btn-danger btn-sm" @onclick="(() => BorrarDeposito(deposito))">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!datosCorrectos)
{
    <p class="text-danger">@mensajeError</p>
}

@code {
    private List<DTODeposito> depositosRegistrados;
    private bool datosCorrectos = true;
    private string mensajeError;

    protected override void OnInitialized()
    {
        depositosRegistrados = Controller.listarTodosLosDepositos().ToList();
    }

    private void BorrarDeposito(DTODeposito deposito)
    {
        try
        {
            Controller.EliminarDeposito(deposito);
            depositosRegistrados = Controller.listarTodosLosDepositos().ToList();
        }
        catch (Exception e)
        {
            datosCorrectos = false;
            mensajeError = e.Message;
        }
        
    }
}

