@page "/admin/reserva"

<PageTitle>Crear Reserva</PageTitle>

@using BusinessLogic
@using Domain
@using ControllerLayer

@inject Controller Controller
@inject NavigationManager NavigationManager


<h1>
    Lista Reservas
</h1>
<h1>
    <a href="/admin/reserva/crear" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Reserva</a>
</h1>


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Fecha Desde</th>
        <th>Fecha Hasta</th>
        <th>Deposito</th>
        <th>Precio</th> 
        <th>Estado</th>
        <th>Cliente</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var reserva in reservasRegistradas)
        {
            <tr>
                <td>@reserva.Id</td>
                <td>@reserva.FechaDesde</td>
                <td>@reserva.FechaHasta</td>
                <td>@reserva.Deposito.Id</td>
                <td>@reserva.PrecioReserva</td>
                <td>@reserva.Estado</td>
                <td>@reserva.Cliente.NombreYApellido</td>
                <td>
                    @if (reserva.Estado == "Pendiente")
                    {
                        <button class="btn btn-success btn-sm" @onclick="(() => AceptarReserva(reserva))">Aceptar</button>
                        <button class="btn btn-danger btn-sm" @onclick="(() => GuardarRechazo(reserva))">Rechazar</button>
                        <textarea class="form-control" placeholder="Motivo rechazo" @bind="unaJustificacion" rows="1" cols="3"></textarea>
                        @if (!datosCorrectos)
                        {
                            <p class="text-danger">@mensajeError</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<DTOReserva> reservasRegistradas;
    private bool reservaRechazada = false;
    private string unaJustificacion;
    private bool datosCorrectos = true;
    private string mensajeError;

    protected override void OnInitialized()
    {
        reservasRegistradas = Controller.ListarTodasLasReservas().ToList();
    }

    private void RechazarReserva(DTOReserva reserva)
    {
        reserva.Estado = "Rechazada";
        Controller.RechazarReserva(reserva);
        reservasRegistradas = Controller.ListarTodasLasReservas().ToList();

    }

    private void AceptarReserva(DTOReserva reserva)
    {
        reserva.Estado = "Aprobada";
        Controller.AceptarReserva(reserva);
        reservasRegistradas = Controller.ListarTodasLasReservas().ToList();


    }
    private void MostrarJustificacion(DTOReserva reserva)
    {
        reservaRechazada = true;
    }

    private void GuardarRechazo(DTOReserva reserva)
    {
        try
        {
            if (unaJustificacion == null)
            {
                throw new Exception("Falta justificacion");    
            }
            Controller.RechazarReserva(reserva);
            reserva.Estado = "Rechazada";
            Controller.justificacionRechazo(unaJustificacion, reserva);
        }
        catch (Exception e)
        {
            datosCorrectos = false;
            mensajeError = e.Message;
        }

    }
}
