@page "/cliente/reserva"

<PageTitle>Crear Reserva</PageTitle>

@using ControllerLayer

@inject Controller Controller
@inject NavigationManager NavigationManager
@inject DTOSesion DtoSesion



<h1>
    Lista Reservas
</h1>
<h1>
    <a href="/cliente/reserva/seleccionar-fechas" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Reserva</a>
</h1>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>
            <th>Deposito</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Pago </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in reservasDeCliente)
        {
            <tr>
                <td>@reserva.Id</td>
                <td>@reserva.FechaDesde.ToString("dd/MM/yyyy")</td>
                <td>@reserva.FechaHasta.ToString("dd/MM/yyyy")</td>
                <td>@reserva.Deposito.Nombre Id: @reserva.Deposito.Id</td>
                <td>@reserva.PrecioReserva</td>
                <td>@reserva.Estado</td>
                <td>@reserva.Pago.EstadoPago
                    <br/>
                    @if (reserva.Pago.EstadoPago.Equals("Pendiente"))
                    {
                        <button class="btn btn-success btn-sm" @onclick="(() => PagarReserva(reserva))">Pagar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<DTOReserva> reservasDeCliente = new List<DTOReserva>() ;
    private bool reservaRechazada = false;
    private string unaJustificacion;
    DTOCliente clienteActual;

    protected override void OnInitialized()
    {
        if (DtoSesion.logIn)
        {
            try
            {
                clienteActual = Controller.buscarClientePorMail(DtoSesion.SesionMail);
                reservasDeCliente = Controller.listarReservasDeCliente(clienteActual).ToList();
            }
            catch (Exception e)
            {
                Console.WriteLine("esto no deberia pasar nunca");
            }
        }
        
    }
    private void PagarReserva(DTOReserva reserva)
    {
        Controller.PagarReserva(reserva);
        reserva.Pago.EstadoPago = "Reservado";
        reservasDeCliente = Controller.listarReservasDeCliente(clienteActual).ToList();
    }
}
