@page "/reserva"

@using BusinessLogic
@using Domain

@inject ReservaLogic ReservaLogic

<h1>
    Lista Reservas
</h1>
<h1>
    <a href="/reserva/crear" class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Crear Reserva</a>
</h1>


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Fecha Desde</th>
        <th>Fecha Hasta</th>
        <th>Deposito</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Cliente</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var reserva in _listaReservas)
        {
            <tr>
                <td>@reserva.IdReserva</td>
                <td>@reserva.FechaDesde</td>
                <td>@reserva.FechaHasta</td>
                <td>@reserva.Deposito.IdDeposito</td>
                <td>@reserva.Precio</td>
                <td>@reserva.Estado</td>
                <td>@reserva.Cliente</td>
                <td>
                    <button class="btn btn-success btn-sm">Confirmar</button>
                    <button class="btn btn-danger btn-sm">Rechazar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Reserva>? _listaReservas = new List<Reserva>();

    protected override void OnInitialized()
    {
        _listaReservas = ReservaLogic.ListarTodasLasReservas().ToList();
    }
}
